/*
* Recursos 
*/


.recursos.row{
    border: 1px solid;
    margin: 20px 0px;
    padding: 15px;
}
.recursos.row .tapa.col-md-2{
  width: 95px; 
  height: 135px; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.recursos.row .tapa.col-md-2 img{
  width: 100%;
  height: auto; 
}
.recursos.row .detalle.col-md-10 .tipo{
    font-size: 20px;
    font-weight: 600;
    color:#0B5AA0;
}
.recursos.row .detalle.col-md-10 .titulo{
    font-size: 22px;
    color:#000000;
}
.recursos.row .flecha{
   background-color: #0B5AA0;
   color: #fff;
   width: 40px;
   height: 90px;
   position: absolute;
  right:-15px; 
  margin-top: 4%;
    
}
.recursos.row .flecha i{
 font-size: 30px;
margin-top: 25px;
}
ul.js-pager__items.pager a {
    background-color: #0B5AA0;
    width: 100%;
}
.block-facet-blocktipo-material,
.block-facet-blocknivel {
    background-color: #fff !important;
    border: 1px solid;  
}
.block-facet-blocknivel li,
.block-facet-blocktipo-material li,
.block-facet-blockarea-materia li
{
    list-style: none;
}
.block-facet-blocktipo-material li span.facet-item__value,
.block-facet-blocknivel li span.facet-item__value{
    color: #000;
    margin-left: 5px;
     font-weight: 100;

}
.block-facet-blocktipo-material li span.facet-item__count,
.block-facet-blocknivel li span.facet-item__count{
    color: #000;
    margin-left: 5px;
     font-weight: 100;

}
.block-facet-blockarea-materia {
    background-color: #D3DBE0 !important;
    border: 1px solid;  
}
.block-facet-blockarea-materia  li span.facet-item__value{
    color: #000;
    margin-left: 5px;
    font-weight: 100;

}
.block-facet-blockarea-materia  li span.facet-item__count{
    color: #000;
    margin-left: 5px;
    font-weight: 100;
}
.block-facet-blocknivel .block-title:before,
.block-facet-blocktipo-material .block-title:before,
.block-facet-blockarea-materia .block-title:before{
  height:0px;
}
.block-views-exposed-filter-blockbuscador-recursos-page-1
{
    background-image: url("../img/header-buscador.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
}

.block-views-exposed-filter-blockbuscador-recursos-page-1 h2{
    text-align: center;
    color: #0B5AA0 !important;
    text-transform: uppercase;
    padding-top: 75px !important;
    
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 h2:before{
    background: transparent!important;
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 h1{
    text-align: center;
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 .form-item-search-api-fulltext{
    width: 70%;
   float: left;
 display: inline;
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 .form-item-search-api-fulltext input{
    width: 100%;
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 .form-actions{
    width: 30%;
    float: left;
    display: inline;
}
#block-filtrarpor{
    background-color: #0B5AA0 !important;
    padding: 5px;
}
#block-filtrarpor h2{
    color: #fff;
    padding-top:15px;
    padding-left: 35px;
}
#block-filtrarpor h2:before{
    background: none!important
}
 
body.path-buscador .region.region__slideshow-content{
    margin-bottom: 100px
}
.block-views-exposed-filter-blockbuscador-recursos-page-1 #edit-submit-buscador-recursos--2{
    background-color: #0B5AA0 !important;  
     font-size: 16px;
     color: #fff;
     font-weight: 700;
     padding: 12px 45px 12px 45px;
     line-height: 20px;
     position: relative;
     z-index: 9;
     display: inline-block;
     -webkit-transition: all 0.35s;
     transition: all 0.35s;
     border: none;
     border-radius: 0;
     text-transform: none;
     margin-left: 30px;
 }
select#edit-field-subject-resources,
select#edit-field-basic-knowledge,
select#edit-field-specific-competencies{
    height: 750px;
    width: 90%;

}
 /**
  * fix
  * 
  */
  body.path-buscador .gva-breadcrumb-content{
    display: none;
}

#block-areamateria .facets-widget-checkbox .facet-item.facet-item--expanded input.facets-checkbox {
  display: none;
}


#block-areamateria .facets-widget-checkbox .facet-item.facet-item--expanded .facets-widget- ul .facet-item input.facets-checkbox {
  display: inline-block; 
}
/*oriol*/
.node--type-resources  {}
.node--type-resources .col-left {float: left;width: 40%; box-sizing: border-box; padding-right: 2%;}
.node--type-resources .col-right {float: right;width: 60%; box-sizing: border-box; padding-left: 2%;}
.node--type-resources .field__label {font-weight: bold;text-transform: uppercase; margin-top: 20px;}
.node--type-resources .field--name-field-url-resources {display: inline-block;margin-top: 40px;}
.node--type-resources .field--name-field-url-resources a {display: inline-block; padding: 20px;color: #fff; font-weight: bold; background-color: var(--body-link-color);}
.node--type-resources .field--name-field-url-bdh {display: inline;}
.node--type-resources .field--name-field-url-bdh a {display: inline-block; padding: 20px;color: #fff; font-weight: bold; background-color: #009a96;}
.node--type-resources .field--name-field-subject-resources {display: inline-block; margin-bottom: 5px;}
.node--type-resources .field--name-field-subject-resources a {display: inline-block; margin-bottom: 5px;}
.node--type-resources .field--name-field-resource-level {display: inline-block; margin-right: 20px;}
.node--type-resources .field--name-field-resource-level > .field__item,
.node--type-resources .field--name-field-resource-level > .subject-resources {display: inline-block;}
.node--type-resources .field--name-field-resource-level a {display: inline-block; padding: 0 15px;color: #fff; font-weight: bold; background-color: var(--body-link-color);margin-bottom: 5px;}
.node--type-resources .field--name-field-resource-level .field--name-field-subject-resources a {display: inline-block; padding: 0 15px;color: var(--body-link-color); font-weight: bold; background-color: transparent;margin-bottom: 5px;}

.node--type-resources h3 {color:  var(--body-link-color); margin-top: 40px;}
.node--type-resources .field--name-field-basic-knowledge {margin-top: 40px; margin-bottom: 80px;}
.node--type-resources .field--name-field-basic-knowledge .field__label {text-transform: initial;}
.node--type-resources .field--name-field-basic-knowledge .field--name-field-titulo { color:  var(--body-link-color);margin-top: 15px; font-weight: bold; line-height: 1.3;}
.node--type-resources .field--name-field-basic-knowledge .field--name-description { margin-left: 20px; margin-top: 15px;line-height: 1.3;}
.node--type-resources .field--name-field-basic-knowledge .field--name-description:before {content: '- ';float: left; margin-right: 10px;}
.node--type-resources .field--name-field-specific-competencies .field__items {border: solid 1px #999; background: #f5f5f5; padding: 20px; line-height: 1.3;}
.node--type-resources .field--name-field-specific-competencies .field__label {text-transform: initial;}
.node--type-resources .field--name-field-specific-competencies .field__items .nivel0 {color:  var(--body-link-color); font-weight: bold;}
.node--type-resources .field--name-field-specific-competencies .field__items .nivel1 {margin-left: 20px;}
.haynivel .hayparent,
.node--type-resources .field--name-field-subject-resources,
.field--name-field-specific-competencies,
.field--name-field-basic-knowledge {display: none;}
.nivel52 .parent131, /*primero bachillerato*/
.nivel53 .parent159, /*segundo bachillerato*/
.nivel41 .parent64, /*Segundo ciclo de infantil*/
.nivel44 .parent68, /*primer ciclo primaria*/
.nivel45 .parent75, /*segundo ciclo primaria*/
.nivel46 .parentxxx, /*tercer ciclo primaria*/
.nivel48 .parent90, /*primer ciclo secundaria*/
.nivel50 .parent102, /*segundo ciclo secundaria*/
.nivel49 .parent114,
.field--name-field-resource-level .field--name-field-subject-resources,
.field--name-field-resource-level .field--name-field-specific-competencies,
.field--name-field-resource-level .field--name-field-basic-knowledge { display: block;} /*tercer ciclo secundaria*/

.recursos.row .detalle.col-md-10 {padding: 15px 0;}
.sidebar .block#block-filtrarpor,
.sidebar .block.block-facets-ajax {padding: 20px;}
.sidebar .block.block-facets-ajax ul.js-facets-widget {padding-left: 0;}
.sidebar .block.block-facets-ajax ul.js-facets-widget .facet-item[type="checkbox"],
.sidebar .block.block-facets-ajax ul.js-facets-widget label {display: inline;}
#block-filtrarpor h2 {padding: 0;   margin: 0;}

.col-md-8 .filtro-expuesto input{
    width: 100%;
    height: 50px;
}
.col-md-2 #combine-authors-level-select{
    width: 100%;
    height: 50px;
}